<section class="container">
  <h2>Sign up</h2>

    <hr>

  <form ="/signup" method="post">

    <div>
      <label for="username">Username :</label>
      <input type="text" id="username" name="username" placeholder="Your cool surname">
    </div>

    <div>
      <label for="password">Password :</label>
      <input type="password" id="password" name="password" placeholder="Your secret code">
    </div>

    <button>Sign up</button>

  </form>

  <div class="error-msg">
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </div>

    <hr>

  <div>
    <p>Already one of us ?</p>
    <a href="/login">Log in</a>   
  </div>

</section>