
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>


    <header>
      <nav id="homepage">
        <ul>
          {{#unless isLoggedIn}}
            <a href='/signup'><li>Sign up</li></a>
            <a href='/login'><li>Log in</li></a>
          {{/unless}}
          {{#if isLoggedIn}}
            <a href='/profile'><li>Profile</li></a>
            <a href='/logout'><li>Log out</li></a>
          {{/if}}
        </ul>
      </nav>
    </header>