<header>
  <nav>  
    <ul>
      <a href='/profile'><li>Profile</li></a>
      <a href="/"><li>Home</li></a>
    </ul>
  </nav>
</header> 

<div class="img">
  <img src="/images/History_TS_ProgrammingMemes_image6.png">
</div>