<header class="profile-header">
  <nav>
    <ul>
      <a href='/'><li>Home</li></a>
      {{#if isLoggedIn}}
        <a href='/main'><li>Main</li></a>
        <a href='/private'><li>Private</li></a>
        <a href='/logout'><li>Log out</li></a>
      {{/if}}
    </ul>
  </nav>
</header>

<h1>✨ {{currentUser.username}}'s profile.</h1>




